* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.link_retorno {
  padding: 20px 60px;
  background-color: red;
  font-size: 18px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 40px;
}
